.header{
    display: flex;
    justify-content: space-between;
    border: solid black;
}
.logo{
    width: 100px;
}
.nav-items>ul{
    display: flex;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
    list-style: none;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    width: 300px;
    height: 400px;
    padding: 5px;
    margin: 10px;
}
.res-card:hover{
    border: solid black;
    cursor: pointer;
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
}